header {
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: #ff9595;
  line-height: 60px;
  font-size: 40px;
  color: #fff;
  z-index: 100;
}
body {
  background-color: #86a9d8;
  margin: 0;
  padding: 0;
}
.spacing {
  width: 100%;
  height: 40px;
}
.main {
  margin: 0 auto;
}
@media screen and (max-width: 1500px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .container-left {
    width: 100% !important;
    height: 50% !important;
    margin-top: 150px;
    margin-bottom: 50px;
  }
  .container-right {
    width: 100% !important;
    height: 50% !important;
    margin-bottom: 50px;
  }
}
.container-left {
  width: 50%;
  float: left;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  position: relative;
  text-align: center;
}
.container-right {
  width: 50%;
  float: left;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  align-content: stretch
}
@keyframes mymove {
  0% {transform: translateX(-5px);}
  50% {transform: translateX(5px);}
  100% {transform: translateX(-5px);}
}
.img-text {
  top: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 80px;
  z-index: 50;
  width: 200%;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
}
.img-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 400px;
  width: 400px;
  background: #ff9595;
  border-radius: 50%;
  z-index: 20;
}
.img-container img{
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  animation: mymove 4s infinite;
  animation-timing-function: ease;
  z-index: 100;
}
.content-box {
}
.content-title {
  background: #ff9595;
  color: #fff;
  padding: 10px;
  margin: 20px 0;
  font-size: 40px;
  width: 300px;
  font-family: 'Titillium Web', sans-serif;
}
.content {
  margin-left: 20px;
  color: #fff;
  font-size: 20px;
  display: flex;
  width: 750px;
  font-family: 'Open Sans', sans-serif;
}
.content-left {
}
.content-right {
  margin-left: 10px;
}
.list-title {
  font-size: 25px;
}
ul.contact {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
}
ul.first-item {
  padding-inline-start: 20px;
}
li {
  color: #ff9595;
}
li div {
  color: #fff;
}

a:link, a:visited {
  color: #fff;
}
a:hover, a:active {
  color: #d2d2d2;
}
